.InputWrapper {
    display: flex;
}

.placeholder {
    margin-right: 5px;
    text-align: center;
}

.input {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: transparent;
    text-shadow: 0 0 0 var(--primary-color);
    font: var(--font-m);

    &:focus {
        outline: none;
    }
}

.caretWrapper {
    flex-grow: 1;
    position: relative;
}

.caret {
    position: absolute;
    height: 3px;
    width: 8px;
    background: var(--primary-color);
    left: 0;
    bottom: 0;
    animation: blink 0.8s forwards infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.01;
    }

    100% {
        opacity: 1;
    }
}
