.app_purple_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #af5475;
    --primary-color: #c3084c;
    --secondary-color: #9d0795;
    --inverted-primary-color: #fbf4f6;
    --inverted-secondary-color: #fbf4f6;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card bg
    --card-bg: rgb(214 207 207);
}
